<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        body{
            width:100%;
            height:100vh;
            background: linear-gradient(to right, #00b09b, #96c93d);
        }
        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        .content h1{
            font-size: 80px;
        }
        .content p{
            font-size: 24px;
        }
        .btn{
            border: none;
            height: 40px;
            width: 80px;
            border: 1px solid purple;
            background: none;
            outline: none;
            margin: 10px 10px 10px 10px;
            font-family: consolas;
            font-weight: bolder;
            transition: 1s;
        }
        .btn a{
            color: black;
            text-decoration: none;
            transition: 1s;
        }
        .btn:hover{
            background: purple;
        }
        .btn:hover a{
            color: white;
        }
        @media screen and (max-width:450px){
            .content h1{
                font-size: 40px;
            }
            .content p{
                font-size: 18px;
            }
        }
        /*=======================Loader=======================*/
        .load
        {
            z-index: 99999;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
            background: #262626;
        }
        .loader
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 100px;
            height: 100px;
            animation: animate 1s linear infinite;
        }
        .loader span
        {
            position: absolute;
            width: 50px;
            height: 50px;
            background: #f00;
            animation: rotate 1s linear infinite;
        }
        .loader span:nth-child(1)
        {
            top: 0;
            left: 0;
            background: #f79f1f;
        }
        .loader span:nth-child(2)
        {
            top: 0;
            right: 0;
            background: #12cbc4;
        }
        .loader span:nth-child(3)
        {
            bottom: 0;
            left: 0;
            background: #ed4c67;
        }
        .loader span:nth-child(4)
        {
            bottom: 0;
            right: 0;
            background: #a3cb38;
        }
        @keyframes animate
        {
            0%
            {
                width: 100px;
                height: 100px;
            }
            10%
            {
                width: 100px;
                height: 100px;
            }
            50%
            {
                width: 150px;
                height: 150px;
            }
            90%
            {
                width: 100px;
                height: 100px;
            }
            100%
            {
                width: 100px;
                height: 100px;
            }
        }

        @keyframes rotate
        {
            0%
            {
                transform: rotate(0deg);
            }
            10%
            {
                transform: rotate(0deg);
            }
            60%
            {
                transform: rotate(90deg);
            }
            90%
            {
                transform: rotate(90deg);
            }
            100%
            {
                transform: rotate(90deg);
            }
        }

    </style>
</head>
<body>
    <div class="load">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/...l/todo">HOME</a>
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup">SIGN IN</a></li>
                    <li><a href="/login">LOG IN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <h1>Todo List</h1>
        <p>Note Down Your Task</p>
        <button class="btn"><a href="/signup">SIGN UP</a></button></button>
        <button class="btn"><a href="/login">LOG IN</a></button></button>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        window.addEventListener('load',function(){
            document.querySelector('.load').style.display = "none";
        })
    </script>
</body>
</html>